<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title style="align-items: center;">Sample Eth dApp</title>
    <base href="/" />
  </head>
  <body>
    <h1 style="align-items: center;padding-left: 35%;font-family: Verdana, Geneva, Tahoma, sans-serif;">Sample Eth Voting dApp</h1>
    <div id="root"></div>
  </body>
</html>